<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <div class="user-form">
        <form action="javascript:void(0);" method="POST" onsubmit="app.Add()">
            <input type="text" id="firstName" placeholder="First Name">
            <input type="text" id="lastName" placeholder="Last Name">
            <input type="text" id="email" placeholder="Email">
            <input type="text" id="country" placeholder="Country">
            <input type="submit" value="Add">
        </form>
    </div>
    <script src="/Controller/controller.js"></script>
</body>
</html>