<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <title>Home Page</title>
</head>
<body>
    <header>
        
    </header>

        <section class="main-content">
            <h1>Welcome to Fujitsu!</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse, cum cupiditate. Cumque repellendus dolorum deleniti expedita asperiores modi, itaque sed labore, velit iusto, sint vel tempora mollitia earum nemo accusamus obcaecati iste veniam iure blanditiis voluptatem rerum ducimus quidem. Corporis, iste voluptatibus, molestiae nesciunt explicabo dignissimos et maiores consequuntur cum aliquam ipsa quaerat ullam odio velit, dolor accusamus dolore dolorum commodi error temporibus. Ab deleniti architecto exercitationem. Architecto ex maxime incidunt accusantium. Quis quidem cumque quisquam consequuntur esse eum, saepe optio facilis tempora quia earum laboriosam natus aliquid incidunt veniam? Asperiores exercitationem inventore, earum provident temporibus veniam illum id maiores.</p>
  
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, ducimus. Cumque, laudantium blanditiis. Debitis libero hic optio repellendus, animi earum quod commodi ipsum perspiciatis beatae officiis assumenda quia consequuntur voluptatum doloribus unde ducimus culpa minus, fuga minima et voluptate, facilis alias. Rem neque ducimus quam magni possimus sunt id corporis.</p>
        </section>

    <footer>
        
    </footer>
    <script src="/Model/model.js"></script>
</body>
</html>